body{background-color:gray;}


.inside{
	margin: 2em 30em 30em 5em;
	/*max-width:70%;
	height:auto;*/
}

svg{
	fill:black;
	stroke:none;

}


rect{ 
	fill:white;
 stroke:none;
 width:30%;
	height:auto;
	position:inline-block;
	margin:.1em;
 animation-name:color;
 animation-duration:4s;
 animation-iteration-count: infinite;

}


polygon{
 fill:white;
 stroke:none;
 width:30%;
	height:auto;
	position:inline-block;
	margin:.1em;
 animation-name:color;
 animation-duration:4s;
 animation-iteration-count: infinite;
}

/*rect:hover{
	animation-name:curse;
 	animation-duration:4s;
 	animation-iteration-count: infinite;
}

polygon:hover{
	animation-name:curse;
 	animation-duration:4s;
 	animation-iteration-count: infinite;
}

@keyframes color{
	25%{fill:gray;}
	50%{fill:black;}
	75%{fill:gray;}
	100%{fill:white;}
}

/*a 0 dding this created the cool affect of changing patterm*/
/*@keyframes curse{
	0{fill:white;}*/

